.text {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: gray;
    opacity: .6;
    position: relative;
    float: right;
    right: 282px;
    bottom: 480px;
}
.hoverme {
    background-color: #8D2E5A;
    padding: 10px 20px;
    border: none;
    transition: 0.3s;
    border-radius: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: white;
    font-size: 17px;
}
.hoverme:hover {
    background-color:#C83574;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: white;
    text-align: center;
}
.button {
    position: relative;
    float: right;
    left: 15px;
    margin-top: -310px;
}
hr {
    width: 355%;
    height: 1.5px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 90px;
    background-color: black;
}
