.text {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: gray;
    opacity: .6;
    position: relative;
    float: right;
    right: 282px;
    bottom: 540px;
}
.forgot {
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: line;
    color: gray;
    opacity: .4;
    position: relative;
    float: right;
    bottom: 420px;
    left: 12px;
    font-size: 12px;
    text-decoration-line: underline;
}
.hoverme {
    background-color: #8D2E5A;
    padding: 10px 20px;
    border: none;
    transition: 0.3s;
    border-radius: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: white;
    font-size: 17px;
}
.hoverme:hover {
    background-color:#C83574;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: white;
    text-align: center;
}
.button {
    position: relative;
    float: right;
    left: 15px;
    margin-top: -360px;
}
hr {
    width: 355%;
    height: 1.5px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 90px;
    background-color: black;
}
.continue {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: gray;
    opacity: .6;
    position: relative;
    float: right;
    left: 18px;
    font-size: 12px;
    bottom: 288px;
}
.socials {
    position: relative;
    float: right;
    left: 393px;
    bottom: 240px;
    width: 20%;
}
.email {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: gray;
    opacity: .6;
    position: relative;
    float: right;
    left: 590px;
    font-size: 12px;
    bottom: 170px;
}